body {
	font-family: Arial, Helvetica, sans-serif;
	color: lightgray;
	background-color: #101010;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	transition: background-image 2s linear;
}

a {
	color: gray;
	text-decoration: none;
}

tw-passage {
	padding: 1em;
	background-color: rgba(0,0,0,0.7);
}


.legalese {
	text-align: center;
	font-family: 'Times New Roman', Times, serif;
	font-size: smaller;
	color: gold;
}


.inlineimg {
	width: inherit;
	height: 15em;
	justify-content: center;
	display: flex;
}

.inlineimg img {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}
